.status {
    background: #7FB6CC;
    color: #fff;
    padding: 5px;
}

.operation.public {
    background: #609954;
    color: #fff;
    padding: 5px;
}

.operation.private {
    background: #993830;
    color: #fff;
    padding: 5px;
}

.disabled {
    background: #ccc !important;
}